@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1, p, a {
    font-family: 'Raleway', sans-serif;
}

div {
    background-color: white;
    margin: auto;
}

body {
    margin: 0;
    padding: 10;
}

h1 {
    font-size: 2.8em;
    padding: 10px 0;
    font-weight: 800;
}
  
p {
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 5px;
    line-height: 1.5;
}

.banner {
    height: 100vh;
    width: 100%;
    background: #d402c2;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.nav {
    background-color: white;
    top: -50px;
    width: 100%;
    transition: top 0.3s;
}