h1, p {
    text-align: center;
    margin: auto;
}

div {
    background-color: white;
}

body {
    /* background-color: violet; */
    /* opacity: 0.5; */
    margin: auto;
}

h1 {
    border-bottom: medium solid black;
}