@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1, p, a {
    text-align: center;
    margin: auto;
    padding: 10;
    font-family: 'Raleway', sans-serif;
}

div {
    background-color: white;
    margin: auto;
}

body {
    /* background-color: violet; */
    /* opacity: 0.5; */
    margin: auto;
}

h1 {
    border-bottom: medium solid black;
}

.banner {
    width: 100%;
    background: #f04ff0;
    color: white;
    padding: 50px 0;
    text-align: center;
}